
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


<style>
    .form-group {
        margin-bottom: 20px;
    }

    .form-label {
        font-weight: bold;
    }

    .form-control {
        width: 50%;
        padding: 8px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
    }

  

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .mask {
        min-height: 100vh;
    }

</style>

</head>

<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <h3 class="w3-bar-item">Admin Paneli</h3>
        <a href="#" class="w3-bar-item w3-button">Sınfılar</a>
        <a href="#" class="w3-bar-item w3-button">Öğrenciler</a>
        <a href="#" class="w3-bar-item w3-button">Devamsızlık</a>
        <a href="~/Login/Index" class="w3-bar-item w3-button">Çıkış</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:15%">

        <div class="w3-container w3-teal">
            <h1>Yıldiz Okulları</h1>
        </div>
        <div class="w3-container">
            @RenderBody()
            
        </div>

    </div>

</body>
</html>
