@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Yildiz Okullari Login Page</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <link rel="stylesheet" href="~/css/LoginPageStyle.css">
</head>
<body>
    <div align="center">
        <img src="~/img/yildizokullarilogo.png" alt="Ortalanmış Resim" />
    </div>

    <div class="container">

        <div class="screen">

            <div class="screen__content">
                @if (TempData["success"]!=null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["success"]
                    </div>

                }
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                <form asp-controller="Login" asp-action="ForgetPassword" method="post">
                    <div class="login__field">
                        <i class="login__icon fas fa-envelope"></i>
                        <label class="form-label" asp-for="Email" for="Email">Email</label>
                        <input asp-for="Email" class="login__input" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button class="button login__submit" type="submit">
                        <span class="button__text">Mail Gönder</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                    <h5 class="text-center" style="margin-top:10px;">Şifre yenileme linki, e-posta adresinize gönderilecektir.</h5>
                </form>

            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</body>
</html>