@model ResetPasswordViewModel
@{
    ViewBag.Title = "Şifre Sıfırlama";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@if (TempData["success"]!=null)
{
    <div class="alert alert-success" role="alert">
        @TempData["success"]
    </div>
}
<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
<form asp-controller="Login" asp-action="ResetPassword" method="post">
    <div class="login__field">
        <label class="form-label" for="Password" asp-for="Password">Yeni Şifre</label>
        <input asp-for="Password" class="login__input" />
        <br />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="login__field">
        <label class="form-label" for="PasswordConfirm" asp-for="PasswordConfirm">Yeni Şifre Tekrar</label>
        <input asp-for="PasswordConfirm" class="login__input" />
        <br />
        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
    </div>
    <button class="button login__submit" type="submit">
        <span class="button__text">Kaydet</span>
        <i class="button__icon fas fa-chevron-right"></i>
    </button>
</form>