@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background: linear-gradient(90deg, #f8f8ff, #2f4f4f);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 90%; /* Ýstediðin geniþliði ayarla */
    height: 500px; /* Ýstediðin yüksekliði ayarla */
    margin: 0 auto; /* Sayfa ortasýnda olmasýný saðlamak için */
}

.screen {
    background: linear-gradient(90deg, #696969, #696969);
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #696969;
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #696969;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #696969, #696969);
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #696969;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

.login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
    /* Diðer stil özelliklerini ekleyebilirsiniz */
}

.login__field {
    padding: 20px 10px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #696969;
}

.login__input {
    border: none;
    border-bottom: 2px solid #696969;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: 0.2s;
}

    .login__input:active,
    .login__input:focus,
    .login__input:hover {
        outline: none;
        border-bottom-color: #696969;
    }

.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #696969;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #696969;
    cursor: pointer;
    transition: 0.2s;
}

    .login__submit:active,
    .login__submit:focus,
    .login__submit:hover {
        border-color: #696969;
        outline: none;
    }

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #696969;
    text-align:left;
}

.button__text {
    color: #000000;
}

.form-check-label {
    font-weight: bold; /* Örnek: Metni kalýn yapmak */
    color: #333; /* Örnek: Metin rengi */
    /* Diðer stil özelliklerini ekleyebilirsiniz */
}

.form-control-input {
    margin-top: 10px;
    /* Diðer stil özelliklerini ekleyebilirsiniz */
}
.text-center {
    text-align: center;
}