@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yildiz Okullari Login Page</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <link rel="stylesheet" href="~/css/LoginPageStyle.css">
</head>
<body>
    <div align="center">
        <img src="~/img/images_transparent.png" alt="Ortalanmış Resim" />
    </div>

    <div class="container">

        <div class="screen">

            <div class="screen__content">

                <form class="login" action="@Url.Action("GirisYap", "Login")" method="post">

                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" name="kullaniciAdi" placeholder="Kullanıcı Adı / Email">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" name="sifre" placeholder="Şifre">
                    </div>
                    <br />
                    <button class="button login__submit" type="submit">
                        <span class="button__text">Giriş Yap</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                    <button class="button login__submit" formaction="@Url.Action("Index", "Register")">
                        <span class="button__text">Kayıt Ol</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </form>

            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
