@model List<Entities.Person>

<h1>Absences By Date Range</h1>

@if (Model.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Person</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>

                            @foreach (var absence in person.Attendances)
                            {
                                @absence.Date.ToShortDateString()
                            }
               
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No absences found for the date range.</p>
}
